<div class="row">
  <div class="col-md-10 offset-md-1">

    <div class="row show-hide-message">
      <div class="w-100" [ngClass]="messageClass">
        {{ message }}
      </div>
    </div>

    <h3 *ngIf="loading" class="text-center">Loading...</h3>

    <div *ngIf="!loading" >
      <article class="conatiner post bg-color-light">
        <header class="post-header">
            <h2 class="post-title">{{post.title}}</h2>
          <span class="post-meta"><small>by <strong>{{post.createdBy.first_name}} {{post.createdBy.last_name}} </strong> on {{ post.createdAt | date:'MMM dd, yyyy' }}</small></span>
        </header>
        <div class="post-body">
          <p>{{post.body}}</p>
        </div>
        <footer class="post-footer">
          <div *ngIf="authService.loggedIn() && user && user._id!=post.createdBy._id">
            <button type="button" class="btn btn-sm" [ngClass]="{'btn-info': !post.likedByUser, 'btn-primary': post.likedByUser}" (click)="likePost(post._id)">Like{{post.likedByUser?'d':''}}: {{post.likes}}</button>
            <button type="button" class="btn btn-sm" [ngClass]="{'btn-info': !post.dislikedByUser, 'btn-primary': post.dislikedByUser}" (click)="dislikePost(post._id)">Dislike: {{post.dislikes}}</button>
          </div>
          <div *ngIf="authService.loggedIn() && user && user.username==post.createdBy.username">
            <button type="button" class="btn btn-sm btn-success" [routerLink]="['/edit/', post._id]">Edit</button>
            <button type="button" class="btn btn-sm btn-danger" (click)="prepareToDelete(post._id)" data-toggle="modal" data-target="#deleteModal">Delete</button>
            <span><small><strong>Likes:</strong> {{post.likes}}</small></span>
            <span><small><strong>Dislikes:</strong> {{post.dislikes}}</small></span>
          </div>
          <div *ngIf="!user || !authService.loggedIn()">
            <small><strong>Likes:</strong> {{post.likes}} <strong>Dislikes:</strong> {{post.dislikes}}</small>
          </div>
  
  
          <!-- <div class="dropdown">
            <button type="button" name="button" class="btn btn-success dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Likes: {{ blog.likes }}</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">{{ liker }}</a>
            </div>
          </div> -->
        </footer>
      </article>
  
      <h3>Comments: {{totalComments}}</h3>
      <div id="comments" class="comment-box">
  
        <div class="container-fluid comment pb-3">
          <form [formGroup]="commentForm" (submit)="onCommentSubmit()" class="row no-gutters">
            <div class="col-12 col-md-10">
              <textarea class="form-control" name="comment" formControlName="comment" rows="2" placeholder="Join the conversation"></textarea>
            </div>
            <div class="col-12 col-md-2">
              <input [disabled]="!commentForm.valid || processing" type="submit" class="btn btn-success w-100 h-100" value="Post">
            </div>
          </form>
        </div>
  
        <div *ngIf="post && post.comments">
          <div *ngFor="let comment of post.comments">
            <app-replies [user]="user" [comment]="comment" [postCreator]="post.createdBy"></app-replies>
          </div>
        </div>
  
        <h4 *ngIf="totalComments==0" class="text-center">There are no comments</h4>
        <button *ngIf="loadedComments<totalComments" class="btn btn-primary btn-block" (click)="loadComments()">Load More Comments</button>
      </div>
    </div>
  </div>
    
</div>