<h2 class="page-header text-center">Log In</h2>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div
      class="alert alert-danger alert-dismissible"
      [class.d-none]="!message"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="dismissAlert()"
      ></button>
    </div>

    <form [formGroup]="loginForm" (submit)="onLoginSubmit()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <div
          [ngClass]="{
            'has-error':
              loginForm.controls['username'].dirty &&
              loginForm.controls['username'].errors,
            'has-success':
              loginForm.controls['username'].dirty &&
              loginForm.controls['username'].valid
          }"
        >
          <input
            class="form-control"
            type="text"
            name="username"
            formControlName="username"
          />

          <ul class="help-block validation-feedback">
            <li
              *ngIf="
                loginForm.controls['username'].dirty &&
                loginForm.controls['username'].errors?.['required']
              "
              class="message-error"
            >
              This field is required.
            </li>
          </ul>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <div
          [ngClass]="{
            'has-error':
              loginForm.controls['password'].dirty &&
              loginForm.controls['password'].errors,
            'has-success':
              loginForm.controls['password'].dirty &&
              loginForm.controls['password'].valid
          }"
        >
          <input
            class="form-control"
            type="password"
            name="password"
            formControlName="password"
          />

          <ul class="help-block validation-feedback">
            <li
              *ngIf="
                loginForm.controls['password'].dirty &&
                loginForm.controls['password'].errors?.['required']
              "
              class="message-error"
            >
              This field is required.
            </li>
          </ul>
        </div>
      </div>

      <input
        [disabled]="!loginForm.valid"
        class="btn btn-primary w-100 mb-3"
        type="submit"
        value="Login"
      />
    </form>
  </div>
</div>
