<div class="row">
  <div class="col-lg-8 col-md-10 offset-lg-2 offset-md-1">
    <h2 class="page-header text-center">Write</h2>

    <div class="alert show" [ngClass]="messageClass" [class.d-none]="!message" role="alert">
      {{ message }}
      <button type="button" class="close" aria-label="Close" (click)="dismissAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <form [formGroup]="writeForm" (submit)="onWriteSubmit()">
      <div class="form-group">
        <label for="title">Title</label>
        <div [ngClass]="{'has-error': writeForm.controls.title.dirty && writeForm.controls.title.errors}">
          <input class="form-control" type="text" name="title" formControlName="title" autocomplete="off"/>
          
          <ul class="help-block validation-feedback">
            <li *ngIf="writeForm.controls.title.dirty && writeForm.controls.title.errors?.required" class="message-error">This field is required.</li>
            <li *ngIf="writeForm.controls.title.dirty && (writeForm.controls.title.errors?.minlength || writeForm.controls.title.errors?.maxlength)" class="message-error">Minimum characters: 5, Maximum characters: 50</li>
            <li *ngIf="writeForm.controls.title.dirty && writeForm.controls.title.errors?.validateTitle" class="message-error">Title must not have any special characters</li>
          </ul>
        </div>
      </div>
    
      <div class="form-group">
        <label for="body">Body</label>
        <app-editor #editor>
          <div [ngClass]="{'has-error': writeForm.controls.body.dirty && writeForm.controls.body.errors}">
            <textarea id="md-content" #mdContent rows="15" class="form-control" type="text" name="body" formControlName="body" spellcheck="false"></textarea>
            <ul class="help-block validation-feedback">
              <li *ngIf="writeForm.controls.body.dirty && writeForm.controls.body.errors?.required" class="message-error">This field is required.</li>
              <li *ngIf="writeForm.controls.body.dirty && (writeForm.controls.body.errors?.minlength || writeForm.controls.body.errors?.maxlength)" class="message-error">Minimum characters: 5, Maximum characters: 500</li>
            </ul>
          </div>
        </app-editor>
      </div>
      
      <input [disabled]="!writeForm.valid || processing" class="btn btn-primary btn-block" type="submit" value="Post" />
    </form>
  </div>
</div>