@import "./ui";

:host-context(.theme-light) .modal-content{
  @include background-light-secondary;

  .close {
    color: $color-light-text;
  }

  .modal-header {
    border-bottom-color: $color-light-primary;
  }

  .modal-footer {
    border-top-color: $color-light-primary;
  }
}

:host-context(.theme-dark) .modal-content{
  @include background-dark-secondary;

  .close {
    color: $color-dark-text;
  }

  .modal-header {
    border-bottom-color: $color-dark-primary;
  }

  .modal-footer {
    border-top-color: $color-dark-primary;
  }
}

.post {
  border-radius: .3rem;
  padding: .25rem;
  margin: 10px 0px;

  .post-title {
    margin: 0rem;
  }
  
  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .post-header {
    padding: .75rem;
    padding-top: .5rem;
    position: relative;
  }

  .post-body {
    padding: .5rem;
  }

  .post-footer {
    padding: .25rem;
    padding-bottom: 0rem;
    position: relative;

    button,
    span {
      margin: .12rem;
    }
  }

  .post-toolbar {
    list-style-type: none;
    position: absolute;
    right: 1rem;
    top: 1rem;

    li {
      float: left;
      margin: .5em;
      
      &:hover {
        cursor: pointer;
      }
    }
  }

  .btn {
    width: 110px;
  }
}

:host-context(.theme-light) .post{
  @include background-light-primary;

  .post-body {
    @include background-light-secondary;
  }

  .post-meta {
    color: $color-light-text-muted;
  }

  .post-toolbar li {
    color: $color-light-text-muted;

    &:hover {
      color: $color-light-text;
    }
  }
}

:host-context(.theme-dark) .post{
  @include background-dark-primary;

  .post-body {
    @include background-dark-secondary;
  }

  .post-meta {
    color: $color-light-text-muted;
  }

  .post-toolbar li {
    color: $color-dark-text-muted;

    &:hover {
      color: $color-dark-text;
    }
  }
}

.comment-box {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
}

.comment {
  padding: .75rem;
  padding-bottom: 2.5rem;
  margin-bottom: .5rem;
  border-radius: .3rem;

  hr {
    margin: .4rem;
  }

  .comment-body {
    text-align: justify;
  }
  
  .comment-button {
    float:right;
    margin-left: .25rem;
  }

  .comment-footer {
    clear: right;
  }

}

:host-context(.theme-light) .comment {
  @include background-light-primary;
}

:host-context(.theme-dark) .comment {
  @include background-dark-primary;
}

.profilePhotoContainer {
  width: 48px;
}

.profilePhoto {
  width: 100%;

  &.large {
    max-width: unset;
  }

  &.round {
    border-radius: 50%;
  }
}

.indent {
  margin-left: 2rem;
}