@import "./ui";

.post {
  border-radius: .3rem;
  padding: .25rem;
  margin: 10px 0px;

  .post-title {
    margin: 0rem;
  }
  
  .post-link {
    text-decoration: none;
    color: inherit;
  }

  .post-header {
    padding: .75rem;
    padding-top: .5rem;
  }

  .post-body {
    padding: .5rem;
  }

  .post-footer {
    padding: .25rem;
    padding-bottom: 0rem;

    button,
    span {
      margin: .12rem;
    }
  }

  .btn {
    width: 110px;
  }
}

:host-context(.theme-light) .post{
  @include background-light-primary;

  .post-body {
    @include background-light-secondary;
  }

  .post-meta {
    color: $color-light-text-muted;
  }
}

:host-context(.theme-dark) .post{
  @include background-dark-primary;

  .post-body {
    @include background-dark-secondary;
  }

  .post-meta {
    color: $color-light-text-muted;
  }
}

.comment-box {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 2rem;
}

.comment {
  padding: 1rem;
  background-color:lightblue;
  margin-bottom: .5rem;
  // border-radius: .25rem;
  padding-bottom: 2.5rem;

  hr {
    margin: .4rem;
  }

  .comment-body {
    text-align: justify;
  }
  
  .comment-button {
    float:right;
    margin-left: .25rem;
  }

}

.profilePhotoContainer {
  width: 48px;
}

.profilePhoto {
  max-width: 70px;
  width: 100%;

  &.large {
    max-width: unset;
  }

  &.round {
    border-radius: 50%;
  }
}

.indent {
  margin-left: 2rem;
}