.bg-color-light {
  background-color: #F0F0F0;
}

.bg-color-dark {
  background-color: #212529;
}

.bg-color-light-primary {
  background-color: #F0F0F0;
}

.bg-color-dark-primary {
  background-color: #212529;
}