<div *ngIf="!deleted">
  <div class="comment">

    <div class="row mx-2">
      <div class="profile-photo-container">
        <img class="profile-photo" [ngClass]="{'round': uiService.getRoundIcons()}" [src]="(authService.getDomain() + comment.createdBy.photo) || uiService.noPhoto()" alt="Profile Photo">
      </div>
      <div class="px-2">
        <strong>
          {{comment.createdBy.first_name}} {{comment.createdBy.last_name}}
        </strong>
        <footer>
          <small>
            Posted on: {{ comment.createdAt | date:'HH:mm MMM dd, yyyy' }}
          </small>
        </footer>
      </div>
    </div>
  
    <hr>
  
    <div class="comment-body">
      {{comment.comment}}
    </div>
  
    <div class="comment-footer">
      <button *ngIf="authService.loggedIn() && user && user._id==postCreator._id" class=" btn btn-sm btn-danger comment-button" (click)="deleteComment()">Delete</button>
      <button class="btn btn-sm btn-primary comment-button" (click)="toggleReplyForm()">Reply</button>
      <button *ngIf="!showReplies && comment.replies>0" [disabled]="processingReplies" class="btn btn-sm btn-primary comment-button" (click)="showRepliesDiv()">Show Replies</button>
    </div>
    
  </div>

  <div *ngIf="showReply" class="comment pb-3">
    <form [formGroup]="replyForm" (submit)="onReplySubmit()" class="row no-gutters">
      <div class="col-12 col-md-10">
        <textarea class="form-control" name="reply" formControlName="reply" rows="2" placeholder="Join the conversation"></textarea>
      </div>
      <div class="col-12 col-md-2">
        <input [disabled]="!replyForm.valid || processingReply" type="submit" class="btn btn-success w-100 h-100" value="Post">
      </div>
    </form>
  </div>
  
  <div class="indent">
  
    <div *ngIf="showReplies">
      <div *ngIf="replies.length>0">
        <div *ngFor="let reply of replies">
          <app-replies [comment]="reply" [user]="user" [postCreator]="postCreator"></app-replies>
        </div>
      </div>
    
      <button *ngIf="replies.length<comment.replies" class="btn btn-primary btn-block mb-2" (click)="loadReplies()">Load More Replies</button>  
    </div>
    
  </div>
</div>