@import '../../ui';

:host-context(.theme-dark) {
  .modal-header,
  .modal-footer {
    @include background-dark-primary;
  }
}

:host-context(.theme-light) {
  .modal-header,
  .modal-footer {
    @include background-light-primary;
  }
}

.user-list {
  list-style-type: none;
  padding: 0 3rem 0 3rem;
  margin-bottom: 0;

  .user-list-item {
    img {
      margin-right: 1rem;
    }

    text-align: left;
    margin: 0.25rem 0 0.25rem 0;
  }
}
