<div class="row">
  <div class="col-md-10 offset-md-1">

    <div class="alert show" [ngClass]="messageClass" [class.d-none]="!message" role="alert">
      {{ message }}
      <button type="button" class="close" aria-label="Close" (click)="dismissAlert()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <h3 *ngIf="loading" class="text-center">Loading...</h3>

    <div *ngIf="!loading" >
      <app-article [post]="post" [user]="user" (delete)="deletePost($event)"></app-article>
  
      <h3>Comments: {{post.totalComments}}</h3>
      <app-comments [post]="post" [user]="user" (message)="onMessage($event)" (refresh)="refreshCommentCount($event)"></app-comments>
    </div>
  </div>
    
</div>