<div class="row">
  <div class="col-md-10 offset-md-1">
    <div
      class="alert alert-dismissible"
      [ngClass]="messageClass"
      [class.d-none]="!message"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="dismissAlert()"
      ></button>
    </div>

    <h3 *ngIf="loading" class="text-center">Loading...</h3>

    <div *ngIf="!loading">
      <app-article
        [post]="post!"
        [user]="user"
        (delete)="deletePost($event)"
        (reload)="getPost()"
      ></app-article>

      <h3>Comments: {{ post?.totalComments ?? 0 }}</h3>
      <app-comments
        [post]="post!"
        [user]="user"
        (notification)="onMessage($event)"
        (refresh)="refreshCommentCount($event)"
      ></app-comments>
    </div>
  </div>
</div>
