@import "../ui";

.popular{
  list-style: none;
  padding: 0px;
}

.popular .popular-item{
  width: 100%;
}

.popular .popular-link{
  display: inline-block;
  width: 100%;
  padding: 0.5rem;
}

.popular .popular-link:hover{
  text-decoration: none;
}

:host-context(.theme-light) .popular .popular-link:hover {
  @include background-light-secondary;
  background-color: $color-light-secondary-active;
}

:host-context(.theme-dark) .popular .popular-link:hover {
  @include background-dark-secondary;
  background-color: $color-dark-secondary-active;
}