<div id="comments" class="comment-box">
  <div class="container-fluid comment pb-3" *ngIf="authService.loggedIn()">
    <form
      [formGroup]="commentForm"
      (submit)="onCommentSubmit()"
      class="row no-gutters"
    >
      <div class="col-12 col-md-10">
        <textarea
          class="form-control"
          name="comment"
          formControlName="comment"
          rows="2"
          placeholder="Join the conversation"
        ></textarea>
      </div>
      <div class="col-12 col-md-2">
        <input
          [disabled]="!commentForm.valid"
          type="submit"
          class="btn btn-success w-100 h-100"
          value="Post"
        />
      </div>
    </form>
  </div>

  <h4 *ngIf="totalComments == 0" class="text-center">There are no comments</h4>

  <div *ngIf="post && comments">
    <div *ngFor="let comment of comments">
      <app-replies
        [user]="user"
        [comment]="comment"
        [postCreator]="post.createdBy"
      ></app-replies>
    </div>
  </div>

  <button
    *ngIf="loadedComments < totalComments"
    class="btn btn-primary w-100 mb-3"
    (click)="loadComments()"
  >
    Load More Comments
  </button>
</div>
