.table {
  th, td {
    padding-left: .25rem;
    padding-right: .25rem;
    text-align: center;
    vertical-align: middle;
  }

  .col-title {
    text-align: left;
    padding-left: .75rem;
    overflow-x: hidden;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
  
  .col-createdAt {
    width: 110px;
  }
  
  .col-likes, .col-dislikes {
    width: 70px;
  }
  
  .col-comments {
    width: 100px;
  }

  .col-tools {
    width: 120px;
  }
}
