@import "../../ui";

.navbar {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-bottom: 20px;
}

.navbar-bg-light {
  @include background-light-primary;
}

.navbar-bg-dark {
  @include background-dark-primary;
}

.navbar .navbar-brand{
  height: 50px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar .navbar-nav .nav-link{
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}

.navbar-light {
  .navbar-nav .nav-item:not(.active) .nav-link:hover,
  .dropdown-item:hover,
  .active {
    background-color: $color-light-primary-active;
  }

  .non-link-dropdown-item,
  .dropdown-item {
    color: $color-light-text;
  }

  .dropdown-divider {
    border-top-color: $color-light-primary-active;
  }
}

.navbar-dark {
  .navbar-nav .nav-item:not(.active) .nav-link:hover,
  .dropdown-item:hover,
  .active {
    background-color: $color-dark-primary-active;
  }

  .non-link-dropdown-item,
  .dropdown-item {
    color: $color-dark-text;
  }

  .dropdown-divider {
    border-top-color: $color-dark-primary-active;
  }
}

.nav-link {
  cursor: pointer;
}

#dropdown-user, #dropdown-menu-user {
  min-width: 180px;
}

#dropdown-menu-user {
  margin: 0;
  margin-top: -1px;
  border-radius: 0rem 0rem .25rem .25rem;
}

.non-link-dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  cursor: default;
}

.profile-icon {
  height: 27px;
  width: 27px;
  position: relative;
  top: -4px;

  &.profile-icon-left {
    margin-right: .4rem;
    float: left;
  }
  
  &.profile-icon-right {
    margin-left: .4rem;
    float: right;
  }
}


/* Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  top: 3px;
  margin: 0 5px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: .4s;
  transition: .4s;
}

:host-context(.theme-light) .slider {
  background-color: #ccc;
}

:host-context(.theme-dark) .slider {
  background-color: $color-dark-secondary;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  -webkit-transition: .4s;
  transition: .4s;
}

:host-context(.theme-light) .slider:before {
  background-color: white;
}

:host-context(.theme-dark) .slider:before {
  background-color: $color-dark-primary;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
